@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
/* Sitecolors*/
/* Also used in toparea of header*/
/* Font colors*/
/* for responsive*/
/* CSS Document */
/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default padding */
/*
ul[class], ol[class] {
    padding: 0;
}*/
/* Remove default margin, kanske lägga till a också? */
body, h1, h2, h3, h4, p, a, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Set core body defaults */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  /*text-rendering: optimizeSpeed; denna egenskap validerar ej*/
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
/*
ul[class], ol[class] {
    list-style: none;
}*/
/* A elements that don't have a class get default styles 
Validerar ej: Egenskap text-decoration-skip-ink finns inte : auto */
/*a:not([class]) {
  text-decoration-skip-ink: auto;
}*/
/* Make images easier to work with */
img, picture, source {
  max-width: 100%;
  display: block;
  border-radius: 2px;
}

/* Natural flow and rhythm in articles by default */
/*article>*+* {
    margin-top: 1em;
}*/
/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

/* Plockar bort padding på vänster sida för listor*/
ul {
  padding-left: 0;
}

/* ------------------END CLEARING OF SETTINGS ---------------------------------------*/
.maxWidth {
  max-width: 1220px;
}

.body {
  background-color: #ffffff;
}

.btnText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #4B4B4B;
  font-weight: 600;
}

.expandSearchBtn {
  background-color: #E5E5E5;
  border: none;
  border-radius: 0.2em;
  margin-top: 4px;
  padding-top: 4px;
  padding-right: 14px;
  padding-left: 14px;
  cursor: pointer;
  margin-right: 0.6em;
}

.hamburgerBtn {
  background-color: #0859A1;
  padding: 1em;
  border: none;
  cursor: pointer;
}

.spanInfoBtnText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #4B4B4B;
}

.logOutBtn {
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
}
.logOutBtn img {
  max-height: 20px;
}

nav ul {
  list-style: none;
}

.menuText {
  color: aqua;
}

.mobileTopLine {
  height: 7px;
  background-color: #0859A1;
  width: 100%;
}

/* Wrapps logo, search, and hamburger icon*/
.mainHeaderArea1 {
  display: flex;
  max-height: 100px;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #F3F3F3;
}

.searchAndMenuWrapper {
  display: flex;
  max-width: 15em;
  justify-content: space-between;
  min-width: 8em;
}

.logoWrapper a img {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 3px;
  max-height: 60px;
}

/* searchbox*/
/* Div that wraps the input fields*/
.inputWrapper {
  position: relative;
  height: 1.7em;
  display: none;
}

.inputLabel {
  position: absolute;
  left: 0.3em;
  top: 50%;
  transform: translateY(-50%);
}

.inputField {
  height: 100%;
  padding: 0 0.2em;
}

/* NEW CODE */
.inputField:focus ~ .inputLabel,
.inputField:not(:placeholder-shown) ~ .inputLabel {
  z-index: -1;
}

.navHolder {
  display: none;
}

.menuText {
  font-family: Arial, Helvetica, sans-serif;
  color: #0859A1;
  text-decoration: none;
  font-weight: 700;
}

.blueLine {
  width: 100%;
  height: 1em;
  background-color: #0859A1;
}

.topBar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.rightHolderTopBar {
  min-width: 11em;
}

.extraInfoWrapper {
  background-color: #FBF2EA;
  border: dotted #EE3F3F 3px;
  display: flex;
  padding: 0.3em;
}

.warningIconWrapper img {
  min-width: 3em;
  height: 100%;
}

.infoTextWrapper {
  margin-left: 1em;
}
.infoTextWrapper h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  float: left;
}
.infoTextWrapper p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  float: left;
  padding-left: 0.5em;
}

/*# sourceMappingURL=style.css.map */
