/* Sitecolors*/
$redWarning:#EE3F3F;
$accent: #E54D0E;
$themeBlue: #0859A1;
$themeLightBlue:#C4DCEE;
$bodyColor: #ffffff;    
/* Also used in toparea of header*/
$formBackground: #F6F6F6;
$formBorder: #78838D;
$backgroundGrey: #F3F3F3;
$btnBackgroundGrey: #E5E5E5;
$sandColor:	#FBF2EA;
$sandBorder:#707070;
$white: #ffffff;
/* Font colors*/
$headerGrey1:#4B4B4B;
$headerGrey2:#4F565B;
$headerGrey3: #6D6D6D;
$pGrey:#1D1F21;
$blackOnLightblue:#232121;
$linkBlue:#0555A2;
$blueLinkText: #0859A1;
$redText:#D53535;
$blackSandText: #1E1E1E;
