@use '_fonts.scss' as *;
@use '_colors.scss' as *;

// Buttons
.btnText {
    font-family: $infoText;
    font-size: $btnFontSizeMobile; 
    color:$headerGrey1;
    font-weight: 600;
}


.expandSearchBtn {
    background-color: $btnBackgroundGrey;
    border: none;
    border-radius: 0.2em;
    margin-top: 4px;
    padding-top: 4px;
    padding-right: 14px;
    padding-left: 14px;
    cursor: pointer;
    margin-right: 0.6em;
}


.hamburgerBtn {
    background-color: $themeBlue;
   padding: 1em;     
    border: none;
    cursor: pointer;
}

// topbar
.spanInfoBtnText {
    font-family: $infoText;
    font-size: 1.4rem; 
    font-weight: bold;
    color:$headerGrey1;
}
.logOutBtn {
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    img {
        max-height: 20px;
    }
}

// Blue buttons for choose of travel
.bookBtn {
    border: solid 3px $blueLinkText;
    background-color: $bodyColor;
    border-radius: 0.2em;
    font-family: $menuTextStyle;
    font-size: 1.6rem;
    font-weight: 600;
    color: $blueLinkText;
    cursor: pointer;
    :hover {
        background-color: $themeLightBlue;
    }
}
.bookBtnNonActive:hover {
    background-color: rgb(224, 242, 250);
}
.bookBtnActive {
    background-color: $blueLinkText;
    color: $white;

}


// form components
.inputFieldsIconWrapper {
    display: flex;
    border: solid 1px $formBorder;
    background-color: $formBackground;
    padding: 4px;
}

.inputIconWrapper {
    padding-right: 0.5em;
}