@use '_colors.scss' as *;
@use '_mixins.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

$headingsOne: 'Roboto', sans-serif;
$headingsTwo: Arial, Helvetica, sans-serif;
$menuTextStyle: Arial, Helvetica, sans-serif;
$infoText: Arial, Helvetica, sans-serif;
$longPtext: Verdana, Geneva, Tahoma, sans-serif;


$fontSizeP: 1.8rem;
@mixin fontSizeMix {
    @media (min-width: 500px) {
        $fontSizeP: 2rem;
    }
}
@include padda {
    $fontSizeP: 1.8rem;
}
@include desktop {
    $fontSizeP: 2rem;
}

$h3fontSize: 2rem;

$btnFontSizeMobile: 1.4rem;

$fontSizePforPadda: 1.8rem;


h1 {
    font-family: $headingsOne;
    color: $headerGrey1;
    font-weight: 600;
    font-size: 4rem;
    @include padda {
        font-size: 6rem;
    }
    @include desktop {
        font-size: 8rem;
    }
}
h2 {
    font-family: $headingsTwo;
    font-size: 2.2rem;
}

h3 {
    font-family: $headingsTwo;
    font-size: 2rem;
}
p {
    font-family: $infoText;
    color: $pGrey;
    font-weight: normal;
    font-size: 1.4rem;
    @include padda {
        font-size: 1.8rem;
    }
    @include desktop {
        font-size: 2rem;
    }
}

// real links
.underLineLink {
    font-family: $infoText;
    color: $blueLinkText;
    font-weight: normal;
    text-decoration: underline;
    font-size: 1.4rem;
    :hover {
        font-weight: bold;
    }
}

.underLineLink:hover {
    font-weight: bold;
}

.whiteLink {
    font-family: $infoText;
    font-size: 1.8rem;
    color: $white;
}
.whiteLink:hover {
    font-weight: bold;
    transition: 0.3s;
}