@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');


$headingsOne: 'Roboto', sans-serif;
$headingsTwo: Arial, Helvetica, sans-serif;
$infoText: Arial, Helvetica, sans-serif;
$longPtext: Verdana, Geneva, Tahoma, sans-serif;




