@use '_fonts.scss' as *;
@use '_colors.scss' as *;
@use '_mixins.scss' as *;

footer {
  padding-top: 4em;
  @include padda {
    padding-top: 7em;
  }
  @include desktop {
    padding-top: 12em;
  }
  @include bigDesk {
    padding-top: 16em;
  }
}
.lightBlueFooter {
    width: 100%;
    background-color: $themeLightBlue;
    padding: 4em 0em 3em 0em;
    @include padda {
      padding: 7em 0em 9em 0em;
    }
}
.lightBlueFooterWrapper {
  max-width: 1140px;
    display: flex;
    justify-content: space-evenly;
    p {
      max-width: 30em;
    }
    @include padda {
      justify-content: end;
      padding: 0em 3em;
    }
  }

.blueFooter {
  background-color: $themeBlue;

}

.blueFooterWrapper {
  padding: 1em 3em;
}

.imgLightBlue {
  display: none;
  @include padda {
    max-width: 30em;
    display: block;
  }
  img {
    border: solid 2px $white;
    border-radius: 0.4em;
  }
}


.taxiInfo {
  width: 100%;
  position: relative;
  @include padda {
    margin-left: 5em;
  }
}
.positionTaxi {
  @include flexWrapp;
  justify-content: space-evenly;
}

.taxiLogosWrapper {
  @include padda {
    position: absolute;
    bottom: 0;
  }
  
}

.imgToBottom {
  margin-top: 2em;
}

.taxiP {
  display: none;
  @include padda {
    display: block;
    height: 30em;
  }
  @include desktop {
    display: block;
    height: 20em;
  }
}



.bottomImg {
  position: relative;
 
}

.ostersund-img {
  max-height: 10em;
}


// main footer

.teleWrapper {
padding-bottom: 2em;
padding-top: 4em;
max-width: 600px;
border-bottom: dotted 3px $white;
 h3 {
   margin-top: 1.6em;
   color: $white;
 }
}
.teleHeaderIcon {
  @include flexWrapp;
  padding: 1em 0em 0.8em 0em;
  
  img {
    max-width: 3.4em;
        @include desktop {
          max-width: 8em;
        }
  }
  justify-content: space-between;
  h2 {
    color: $white;
    font-size: 2.7rem;
  }


}

.li-p-wrapper {
  li {
    @include flexWrapp;
    justify-content: space-between;
    line-height: 2rem;
    padding-top: 1em;
    p {
      color: $white;
      font-size: 1.8rem;
    }
    a {

    }
  }
}

.li-extra-padding {
  margin-top: 1.4em;
}
.copyRightWrapper {
  padding-bottom: 3em;
  padding-top: 3em;
  @include padda {
    min-height: 20em;
  }
}
.textCopy {
  padding: 2em 0em 1em 0em;
  margin: 0 auto;
  text-align: center;
  @include flexWrapp;
  color: $white;
  font-size: 1.6rem;

  p {
    color: $white;
    font-size: 1.8rem;
    margin-left: 1em;
    width: 100%;
  }
}

