@use '_fonts.scss' as *;
@use '_colors.scss' as *;
@use '_mixins.scss' as *;
// Address

input::placeholder {
    font-family: $infoText;
}
input {
    font-family: $infoText;
    font-size: 1.4rem;
}
.fieldSetting {
    border: none;
    legend {
        display: none;
    }
}

.addressContainer{
    //position: relative;
    @include padda {
        display: flex;
    }
    
}
.addressWrapper {
    input {
        width: 100%;
        min-height: 30px;
        border: none;
        background-color: inherit;
       // margin-bottom: 1em;
    }
}

.h2Label {
    color: $headerGrey3;
    font-family: $headingsTwo;
    font-size: 1.8rem;
    font-weight: 700;
}
.h3Label {
    font-size: 1.2rem;
}
// form components
.inputFieldsIconWrapper {
    display: flex;
    border: solid 1px $formBorder;
    background-color: $formBackground;
    padding: 4px;
    width: 85%;
    margin-bottom: 3em;
}

.inputIconWrapper {
    padding-right: 0.5em;
    img {
        height: 100%;
    }
}

// map images
.mapImgWrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

// checkbox/radio


// checkboxes
.checkBoxWrapper {
    margin-top: 3em;
    margin-bottom: 2em;
    @include flexWrapp;
    justify-content: space-between;
}

// div för dotted lined
.lineDiv {
    @include line;
}