@use '_fonts.scss' as *;
@use '_colors.scss' as *;
@use '_mixins.scss' as *;
// Address

input::placeholder {
    font-family: $infoText;
}
input {
    font-family: $infoText;
    font-size: 1.6rem;
}
.fieldSetting {
    margin-top: 4em;
    margin-bottom: 0em;
    border: none;
    legend {
        display: none;
    }
}
.fieldSetting2 {
    
    margin-bottom: 0em;
    border: none;
    legend {
        display: none;
    }
}


.maxField {
    @include padda {
        max-width: 50em;
    }
}

.fieldSetting2 {
    margin-top: 1em;

}

legend {
    font-family: $infoText;
    font-weight: 700;
    font-size: 1.8rem;
    color: $headerGrey2;
}
.showLegend {
    display: block !important;
  
    
}

.addressContainer{
    //position: relative;
    @include padda {
        display: flex;
    }
    
}
.addressWrapper {
    @include padda {
        width: 35em;
        margin-right: 2em;
    }
    input {
        width: 100%;
        min-height: 30px;
        border: none;
        background-color: inherit;
       // margin-bottom: 1em;
    }
}

.h2Label {
    color: $headerGrey2;
    font-family: $headingsTwo;
    font-size: 1.8rem;
    font-weight: 700;
    @include padda {
        font-size: 2.2rem;
    }
}
.h3Label {
    font-size: 1.4rem;
    @include padda {
        font-size: 1.8rem;
    }
}
// form components
.inputFieldsIconWrapper {
    display: flex;
    border: solid 1px $formBorder;
    background-color: $formBackground;
    padding: 4px;
    width: 95%;
    margin-bottom: 3em;
}

.inputIconWrapper {
    padding-right: 0.5em;
    img {
        height: 100%;
    }
}

// map images
.mapImgWrapper {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

// checkbox/radio


// checkboxes
.checkBoxWrapper {
    max-width: 35em;
    @include flexWrapp;
    //justify-content: space-between;
}

// div för dotted lined
.lineDiv {
    @include line;
    margin-top: 1em;
}


// date

.dateWrapper {
    padding-top: 1em;
 
}

.dateInWrapper {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.dateBoxWrapper {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 1.5em;
}

.dateLabel {
    margin-right: 0.8em;
}
label {
    font-family: $infoText;
    font-weight: 600;
    font-size: 1.6rem;
    color: $headerGrey2;
}

.inputSettings {
width: 100%;
min-height: 30px;
border: none;
background-color: inherit;
}

// date input

// time it takes
.takeTimeWrapper {
    margin-top: 5em;
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: center;
    background-color: $backgroundGrey;
    p {
        font-size: 1.8rem;
    }
    @include padda {
        text-align: start;
        p {
            padding-left: 2em;
        }
    }
}

.klockanWrapp {
    margin-top: 1em;
    @include flexWrapp;
    text-align: center;
    span {

        width: 20%;
        font-family: $infoText;
        font-weight: 700;
        font-size: 2rem;
        color: $pGrey;
        @include padda {
            font-size: 2.6rem;
        }
    }
}

#klockanText {
    padding-top: 0.4em;
}
.klBackground {
   border: solid 1px $sandBorder;
   border-radius: 0.4em;
   background-color: $sandColor;
   padding: 0.4em 1.8em;
}

.taxainfo {
    margin-top: 6em;
    margin: 4em 1em;
    border: solid 1px $sandBorder;
    border-radius: 0.4em;
    background-color: $sandColor;
    padding: 0.4em 1.8em 1em 1.8em;
    p {
        font-size: 1.6rem;
        color: $blackSandText;
        margin-bottom: 0.8em;
        margin-top: 1.4em;
        @include padda {
            font-size: 1.8rem;
        }
    }

    a {
       
        font-size: 1.8rem;
    }

    @include padda {
        max-width: 40em;
    }
}


// time 
.inputTime {
border: solid 3px $accent;
border-radius: 0.2em;
font-size: 2.2em;
}

.padding-top {
    padding-top: 2em;
}

.checkBoxWrapper {
    max-width: 45em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    label:first-of-type {
        //margin-right: 0.4em;
        margin-right: clamp(0.4em, 1.5em, 2em);
    }
}

.labelProcent {
    width: 45%;
}

.flexWidht {
display: flex;
justify-content: end;
}

// price and travels left at färdtjänst-price
.checkOutWrapper {
    background-color: $sandColor;
    border: solid 1px $sandBorder;
    margin: 6em 1em 3em 1em;
    padding: 1em;
    max-width: 40em
}

.checkOutFlex  {
   
    @include flexWrapp;
    span{
        font-family: $infoText;
        color: $blackSandText;
    }
    span:nth-child(1) {
        width: 80%;
    }
    span:nth-child(2) {
        width: 20%;
    }
}

.priceWrapper {
    border-bottom: solid 1px $sandBorder;
    span {
        font-size: $fontSizeP;
    }
    span:nth-child(2) {
        font-size: 2rem;
        @include padda {
            font-size: 2.6rem;
        }
        font-weight: 800;
    }
}

.aterkommandeLink {
    display: none;
    @include bigDesk {
        display: block;
        margin-left: 0.5em;
        font-size: 2rem;
    }
}
.travelsLeftWrapper {
    padding-top: 1em;
    span:nth-child(1) {
        font-size: $fontSizeP;
        font-weight: 500;
    }
    span:nth-child(2) {
        font-size: $fontSizeP;
        font-weight: 700;
    }
}


// travel to work or not
.workTravelField {
    margin-top: 2em;
    @include flexWrapp;
    legend {
        font-size: 1.6rem;
        font-weight: 500;
        color: $blackSandText;
        @include padda {
            font-size: 1.8rem;
        }
    }
}


.bookWrapper {
    @include flexWrapp;
    justify-content: end;
    margin: 4em 1.5em 4em 1.5em;
     a {
         display: none;
     }
     button {
        padding: 0 1.3em;
     }
}


// mina sidor

.formType2 {
    background-color: $backgroundGrey;
    margin: 5em -1em 0em -1em;
    padding: 1em 0em;
}
.inputType2Wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
    @include padda {
        flex-direction: column;
    }
    label {
        width: 100%;
        max-width: 305px;
     
        input {
            width: 78%;
            font-weight: normal;
        }
    }
   
}

.inputBtnType2Wrapper {
    width: 100%;
    max-width: 305px;
    display: flex;
    justify-content: end;
}

// the button
.btnLinkText {
    border: none;
    background-color: transparent;
    color: $blueLinkText;
    text-decoration: underline;
    font-family: $infoText;
    font-weight: bold;
    font-size: 1.8rem;
}

.btnLinkText:hover {
   
    font-weight: 900;
    transition: all .1s ease-in !important;
}


.legendh2 {
    color: $headerGrey1;
    font-family: $infoText;
    font-weight: 700;
    font-size: 2.6rem;
}

.vertLabelWrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    label {
        width: 100%;
        max-width: 305px;
        input {
            width: 78%;
        }
    }
    input {
        width: 100%;
        max-width: 305px;
    }
}
.billingAdressWrapper {
    margin-top: 3em;
}
.billingBoxAdressWrapper {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-bottom: 1.5em;
margin-top: 1em;
label {
    margin-right: 3em;
}
}
