@use '_fonts.scss' as *;
@use '_colors.scss' as *;
.maxWidth {
    max-width: 1220px;
    margin: 0 auto;
}
.body {
    background-color: $bodyColor;
}

ul {
    list-style-type: none;
}

.bottomDiv {
    display: flex;
    align-items:flex-end;
    height: 100%;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
// first article i sections,pages after h1 heading 
.firstArticle {
    margin-top: 1em;
}