@use '_colors.scss' as *;
@use '_mixins.scss' as *;

main {
     margin: 0 auto;

     h1 {
         margin-bottom: 0.3em;
         line-height: 1;
         border-bottom: solid 4px $headerGrey1;
     }

 }
 .mainHeader {
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-bottom: 1em;
    padding-top: 1.4em;
    border-bottom: solid 1px $backgroundGrey;
 }



 // Choose type of trip
 .ulTypeOfTrip {
     display: flex;
     justify-content: space-between;
 }

 #typeOfTrip {
     margin-top: 0.5em;
     max-width: 400px;
 }

// dubelrows for big screen and the indexpage
.bigScreenDubbelRows {
    @include bigDesk {
        display: flex;
    }
}

.rowLeftIndex {
    @include padda {
        width: 50%; 
    }
    
}