@use '_colors.scss' as *;
/* for responsive*/
$padda: 500px;
$desktop: 960px;
$bigDesktop: 1200px;
@mixin padda {
    @media (min-width: #{$padda}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin bigDesk {
    @media (min-width: #{$bigDesktop}) {
        @content;
    }
}

@mixin flexWrapp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin line {
    border: solid 1px $linecolor;
    margin: 4px;
    
}